@media (max-width:1650px){}


@media (max-width:1499px){

	

}


@media (max-width:1399px){
	
	.header-main .header-inner-main .header-inner .header-menu ul li a{padding: 25px 0px;}
	.banner-header-pt{padding-top: 73px;}
	.banner-section .banner_wp{padding: 150px 0px;}

	.btn {padding: 14px 15px; font-size: 17px; } 
	.overlay-curves {border-radius: 0px 0px 250px 250px; }
	.speciality-box-text p {font-size: 14px; }

	.our-speciality-bottom .speciality-box-text{padding:60px 0px;}
	.our-speciality-bottom .speciality-box-text .title-main{padding:0px 30px;}

	.social-contant h1 {font-size: 34px; }

	.new-event-form .form-control {height: 52px;}
}


@media (max-width:1199.98px){

	h1 {font-size: 40px; line-height: 45px; }
	h2 { font-size:30px; }
	p{font-size: 14px; line-height: 20px;}


	.header-main .header-inner-main .container{max-width:100%;padding-left:20px;padding-right:20px;}
	.banner-section{min-height:auto;}
	.section{padding:60px 0px;}

	footer {padding-top: 80px; }

	.history-img-sc{padding:0px 50px 0px 80px;}
    .history-sec-img{max-width:380px;}
    .our-speciality-bottom .speciality-box-text {padding: 60px 10px; }
    .our-speciality-bottom .speciality-box-text .title-main { padding:0px 15px}

	.book_my_table_sec .book_mt_shap_left,.book_my_table_sec .book_mt_shap_right{max-width:100px;}
	.book_my_table_top p.title span{font-size:18px;}
	.book_my_table_top h6 span{font-size:14px;}
	p.book_my_table_sub-text{font-size:10px;}
	.book_my_table_top h6{margin:15px 0px;}
	.book_my_table_top{margin-bottom:60px;}

	ul.social-link li{width:35px;height:35px;margin:6px;}
	.social-contant h1{font-size:28px;margin-bottom:18px;}

}


@media (min-width: 1025px) { 
	

}
/*=========================================================
// Medium devices (tablets, less than 992px)
===========================================================*/

@media (max-width: 991.98px) { 

	
	h1 { font-size:38px; line-height: 52px;}
	h2 { font-size:32px;}
	h3 { font-size:24px;}
	h4 { font-size:20px;}
	h5 { font-size:18px;}  
	h6 { font-size:16px;line-height: 24px;}

	.btn {padding: 13px 15px; font-size: 16px; min-width: 176px; border-radius: 50px; }

	.header-main .header-inner-main .header-inner .header-menu .header-menu-inner{position:fixed;top:69px;left:0;right:0;background:#f8f8f8	;z-index:777;height:calc(100vh - 68px);overflow:auto;transition:all 400ms ease;transform:translateX(-100%);visibility:hidden;opacity:0;}
	.header-main .header-inner-main .header-inner .header-menu.show .header-menu-inner{transform:translateX(0);visibility:visible;opacity:1;}
	.header-main .header-inner-main .header-inner .header-menu ul li a {margin: 0; padding: 15px; width: 100%; font-size: 14px; background: rgba(0,0,0,0.8); border-radius: 5px; margin: 3px 0px; } .header-main .header-right{margin-right:0px;text-align:right;}
	.header-main .navbar-container{padding:10px 0px;}
	.header-main .header-inner-main .header-inner .header-menu .header-menu-inner{display:block;}
	.header-main .header-inner-main .header-menu-inner .header-btn{justify-content:center; max-width: 400px;}
	.header-main .header-inner-main .header-menu-inner .header-btn a{margin:20px 8px;}
	.header-main .header-menu .header-menu-inner > ul > li{text-align:center;}
	.header-main .header-inner-main .header-inner .header-menu .header-menu-inner{padding:40px 20px;}
/*	.header-main .header-menu .header-menu-inner > ul > li:last-child{border-bottom:none;}*/
/*	.header-main .header-menu .header-menu-inner > ul{width:85%;max-width:400px;margin:auto;}*/
	.login-btn ul li{margin-left:0px;display:block;}
	.header-logo img {max-width: 56px; }
	.header-main .header-inner-main .header-inner .header-menu ul li a:hover:after,.header-main .header-inner-main .header-inner .header-menu ul li a.active:after{transform-origin:unset!important;bottom:0px;}

	.header-main .header-right .navbar-toggler{outline:none!important;box-shadow:none;}	
	.header-main .header-inner-main .header-inner .header-menu ul li a:after{display:none;}
	.header-main .header-inner-main .header-inner .header-menu ul li a.active{color:#ff6830;}
	.header-main .header-inner-main .header-menu-inner .header-btn{width: auto; margin: auto;}
	.header-main .header-inner-main .header-menu-inner .navbar-nav {width: 100%; max-width: 400px; margin: auto; text-align: center; }
	.header-btn .cart-link{width:40px;height:40px;background:#000;text-align:center;display:flex;align-items:center;justify-content:center;border-radius:7px;}
	.header-btn .cart-link img{max-width:18px;}
	.header-main.active .navbar-container{box-shadow:none;background:transparent;}
	.header-main.active {box-shadow: 0 0 10px rgba(0,0,0,0.4);}


	.header-menu ul li .dropdown_main{position:static; margin-top: 0px;}
	
	.form-control::placeholder { font-size: 14px;}
	.form-control::-moz-placeholder { font-size: 14px;}
	.form-control:-ms-input-placeholder { font-size: 14px;}
	.form-control::-webkit-input-placeholder { font-size: 14px;}
	.form-control::-o-input-placeholder { font-size: 14px; }

	.title-main .subtitle{ font-size:16px; }
	.banner-logo-img {max-width: 255px; padding-bottom: 20px; }
	.header-btn .cart-link .number-text {right: -5px; top: -6px; }

	/* HOME PAGE */
    .product-content .btn{padding:10px; min-width: auto;}
    .new-event-content{max-width:90%;padding:65px 25px 100px;}
    .form-control{padding:10px 15px 10px 15px;height:49px;}
    .special-img:after{content:'';position:absolute;left:0;top:0;background:rgb(224 234 239 / 60%);width:100%;height:100%;}


    /* HOME PAGE --- TESTIMONIAL SECTION */
	.testimonial-content-slider{width:100%;margin-left:0;margin-top:30px;padding:30px;}
	.testimonial-img-slider{width:100%;max-width:300px;margin:auto;}
	.testimonial-section{padding:50px 0px 50px;}

	.visit_our_cafe {border-radius: 100px; padding: 35px 50px; margin-bottom: 50px; }

    .history-img-sc{margin-top:50px;}
	.speciality-box-text h5{padding-bottom:15px;margin-bottom:15px;font-size:16px;}
	.our-speciality-bottom .speciality-box-text .title-main{padding:0px 5px;}
	.speciality-box-text p{font-size:13px !important;}
	.our-speciality-bottom .speciality-box-text{padding:45px 10px;}


	.contact-wrapper{margin-top:-250px;}
	.contact-banner .banner-section{padding-bottom:160px;}
	.get_in_touch_form .btn.btn-yellow{letter-spacing:1px;margin-top:25px;}
	.get_in_touch-sc_wp{padding:60px 35px;}
	.contact-sc-time_wp .contact-sc-time{padding:60px 30px;}
	.title-main.mb-60 {margin-bottom: 40px; }

	.order-summary-main {margin-top: 25px; }
	.order-history-card .nav-tabs .nav-link {padding: 12px 12px 12px 0px; }


}

/*=========================================================
// Small devices (landscape phones, less than 768px)
===========================================================*/

@media(min-width:768px){

}

@media (max-width: 767.98px) {


	h1 { font-size:36px; line-height: 46px;}
	h2 { font-size:28px;}
	h3 { font-size:22px;}


	.form-group{margin-bottom:20px;}

	ul.slick-dots li button:after{width:26px;height:26px;}
	ul.slick-dots li button:before{width:12px;height:12px;}
	ul.slick-dots li{margin:12px 12px;}
	.container{padding-left:15px;padding-right:15px;}

	.banner-section .banner_wp{padding: 100px 0px}
	.banner-header-pt{padding-top: 70px;}

	.title-main .subtitle{font-size:14px;letter-spacing:0.02em;}
	.btn{padding:11px 15px;font-size:15px;min-width:155px;border-radius:45px;}
	.banner-btn-link a.btn{margin:5px!important;}
	.banner-logo-img {max-width: 215px; padding-bottom: 15px; } 
	.banner-text .title-main{margin-bottom:20px;}
	.banner-text .title-main p {margin-bottom: 15px; }


	/* HOME PAGE --- TESTIMONIAL SECTION */
	.top-quote-sc,.bottom-quote-sc{width: 25px;}
	.testimonial-slider-text {padding: 75px 25px;}
	.testimonial-slider-text .slick-dots{left: 25px;}
	.testimonial-section{padding: 0px;}
	.top-quote-sc{top: 20px;left: 20px;}
	.bottom-quote-sc{bottom: 20px;right: 20px;}
	.testimonial-content-slider{padding: 20px;}


	.visit_our_cafe-link .btn{width:80px;height:80px;font-size:22px;line-height:normal;}
	.visit_our_cafe .visit_our_cafe-row .visit_our_cafe-text{width:calc(100% - 80px);}
	.visit_our_cafe .visit_our_cafe-row .visit_our_cafe-link{width:80px;}
	.visit_our_cafe{border-radius:90px;padding:37px 50px;margin-bottom:50px;}
	.visit_our_cafe-text p br{display:none;}
	footer{padding-top:60px;}
	.footer-top-content{padding-bottom:30px;}
	.footer-main{margin-top:40px;}
	.footer-wrapper{padding-top:40px;}


    .our-history-wrapper{padding:0px 0px 100px;}

	.our-speciality-bottom .speciality-box-text{height:auto;padding:70px 30px;}
	.our-speciality-bottom .speciality-box-img{height:auto;}
	.our-speciality-bottom .speciality-box-img img{width:100%;height:auto;}
	.our-speciality-bottom .speciality-box-text .title-main{padding:0px;height:auto;}
	.our-speciality-top{padding-bottom:250px;}
	.our-speciality-bottom{margin-top:-250px;padding:0px 15px;}
	.speciality-text-wp{padding:70px 0px 40px;}

	.form-line .hr{margin:15px 0px 30px;}
	.book_my_table_sec .book_mt_shap_left,.book_my_table_sec .book_mt_shap_right{opacity:0.7;max-width:55px;}
	.form-line{max-width:100%;}
	.book_my_table_sec .book_mt_shap_right{bottom:50px;}
	.book_my_table_top p.title span{font-size:14px;}
	.book_my_table_top p.title{margin:20px 0px;}
	.book_my_table_top h6{margin:10px 0px;}
	.book_my_table_form{max-width:400px;margin:auto;}
	.book_my_table_top{max-width:320px; margin-bottom: 30px;}
	.book_my_table_form .form-control{padding-left:20px;}
	.book_my_table_sec .book_mt_shap_left{top: 20px;}


	.our-gallery-wrapper .row{margin-right:-8px;margin-left:-8px;}
	.our-gallery-wrapper .row .gallery-img_1{padding-left:8px;padding-right:8px;margin:8px 0px;}
	.our-gallery-wrapper .row .gallery-img_2{padding-left:8px;padding-right:8px;}
	.gallery-img_2 .gallery-img-wp{height:calc(50% - 16px);margin:8px 0px 0px;}
	.gallery-img_2 .gallery-img-wp.gallery-img-2{margin-bottom:16px;}
	.gallery-img_1 .gallery-img-wp img, .gallery-img_2 .gallery-img-wp img {border-radius: 6px;}


	.profile-side-bar{min-height:auto;padding-bottom:10px;margin-bottom:20px;}
	.profile-side-link ul{display:flex;flex-wrap:wrap; align-items: center;}
	.profile-side-link ul li{width:33.33%;}
	.profile-side-link ul li a{font-size:12px;padding:15px 10px;line-height:17px;}
	.profile-side-link ul li a:after{left:0px;}
	.profile-side-link ul li a .icon{width:14px;height:14px;margin-right:9px;}
	.checkbox-main{margin-bottom:15px;}
	.banner_profile{padding:20px 0px;}
	.profile-row{flex-wrap:wrap;}
	.profile-row .profile-text{width:100%;padding-left:0px;margin-top:20px;}
	.profile-form .form-group {margin-bottom: 15px; }

	.white-bg.h-100 {height: auto !important; }

	.radio-btn-icon-main .form-group-box label{width:50px;height:35px;}
	.radio-btn-icon-main .form-group-box{margin:10px 10px 10px 0px;}


	.profile-side-link.categories-main ul li{width:100%;margin:1px 0;}
	.profile-side-link.categories-main ul li a{padding:5px;}


}

/*=========================================================
Extra small devices (portrait phones, less than 576px)
===========================================================*/
@media (max-width: 575.99px) { 

	h1 { font-size:34px; line-height: 44px;}
	h2 { font-size:26px;}
	h3 { font-size:22px;}
	h4 { font-size:20px; }
	h5 { font-size:18px; }  
	h6 { font-size:16px; }
	p{font-size: 14px; line-height: 20px;} 

	
	.section{padding:60px 0px;}
	
	/* CLIENT FEEDBACK SECTION */
	
	.title-main .subtitle{padding-bottom:5px;}
	.offer-img{opacity:0;}
	.banner-btn-link .btn,.offer-btn .btn,.special-moment-btn .btn{padding:10px 20px;width:100%;max-width:200px;margin:10px auto!important;}

	/* HOME PAGE - */
	.product-sc{max-width:85%;margin:10px auto;}
	.form-control{min-width:0;padding:9px 10px 9px 10px;}
	.event-btn{min-width:0;}

	.footer-form .form-control{border-radius:30px;padding-right:132px;height:65px;padding-left:20px;}
	.footer-form .btn{top:10px;right:10px;}
	.visit_our_cafe{border-radius:35px;padding:30px 20px;margin-bottom:50px;background-position:center;}
	.visit_our_cafe-text p {font-size: 13px; } 

	.footer-menu-col.footer-menu-link ul li{display:inline-block;margin-left:15px;}
	.footer-media.my-3{margin-top:0.5rem!important;margin-bottom:0.5rem!important;}
	.footer-media ul li {margin: 5px; } 
	.footer-top h4{font-size: 16px;}

	.history-sec-img{max-width:70%;}
    .our-history-wrapper{padding:0px 0px 75px;}
    .history-img-sc{margin-top:30px;padding:0px 35px;}

	.profile-side-link ul li a{padding:10px 5px;}
	.order-link-wp .product-order-img{width:80px;height:80px;}
	.order-link-wp .product-order-info{width:calc(100% - 80px);padding-left:10px;}
	.product-order-row .product-order-col{padding:9px;}
	.order-link-wp .product-order-info p{line-height:20px;}
	.order-history-card .nav-tabs .nav-link{padding:6px 12px 6px 0px;}

	.menutop-header ul li{width:calc(50% - 10px);margin:3px 5px;}
	.menutop-header ul{padding:8px;}

}





@media (max-width: 481px) { 

	h1 {font-size: 30px; line-height: 45px; }
	h2 { font-size:24px; }
	h3 { font-size:20px; }
	h4 { font-size:18px; }
	h5 { font-size:16px; }  
	h6 { font-size:14px; }
	p{font-size: 14px;} 


	.profile-side-link ul li {width: calc(50% - 4px); margin: 2px; }

	.oh-track-step-wp .oh-track-step:after{width:50px;}
	.oh-track-header-wp .oh-track-title h5{font-size:12px;}
	.oh-track-header-wp h6.date{font-size:12px;}
	.oh-track-step-wp .oh-track-step h5{font-size:10px;}
	.oh-track-step-wp .oh-track-step .icon{padding:0px 15px;}
	.get_direction_main{padding:0px 0px 25px;}
	.get_direction_row{flex-wrap:wrap;}
	.get_direction_row-left{margin-bottom:25px;}
	
	

}

@media(max-width:390px){
    .banner-btn-link, .offer-btn{display:flex;flex-wrap:wrap; justify-content: center;}
}

/*=========================================================
iPad Pro devices (portrait phones, less than 1021px)
===========================================================*/

/* ----------- iPad Pro ----------- */
  	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

    }
 	/* Landscape*/

    @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape)  {

    }

    /* Portrait*/
    @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
		

	}

  