/* 01 : Website Global CSS BOF
========================================================== */

body,html {height: 100%; }
body { background:#ffffff;font-family: 'Montserrat', sans-serif; font-weight:normal; font-size:16px; line-height:normal; color:#4E4E4E;  text-transform: none;} 
*, html { margin:0; padding:0;  }
a { color:#383733; display: inline-block;} /* Common color hyperlink */
a:hover, a:focus, a:active { color:#F5C332; text-decoration:none; } /* Common hover color hyperlink */
a, *:hover, *:focus, *:active :focus { text-decoration:none; outline:none !important; outline-offset:0 !important; }
a img, img { border:none; outline:none !important; outline-offset:0 !important; }
ul { list-style:none; margin:0; padding:0; } 
i { font-family:'FontAwesome'; } 
img { height:auto; max-width:100%; vertical-align: middle; line-height:normal; }

/* Transition Effect CSS BOF */
a, i, input { transition: all 0.4s ease-in-out 0s; -webkit-transition: all 0.4s ease-in-out 0s; -moz-transition: all 0.4s ease-in-out 0s; 
-o-transition:all 0.4s ease-in-out 0s; -ms-transition:all 0.4s ease-in-out 0s; }

/* Browser Selection CSS BOF */
::selection { background:#F5C332; color:#fff; } 
::-moz-selection { background:#F5C332; color:#fff; } 
::-webkit-selection { background:#F5C332; color:#fff; } 
::-o-selection { background:#F5C332; color:#fff; } 
::-ms-selection { background:#F5C332; color:#fff;  }

p a{color:#F5C332;}
p a:hover{text-decoration:underline;}

/* 02 : Global Classes CSS BOF
==================================================== */  

::-webkit-scrollbar{width: 6px; height: 4px; background: #ffffff; }
::-webkit-scrollbar-thumb{ background-color: #F5C332; -webkit-border-radius:30px;  }
/* Only FireFox */
html {scrollbar-color: #F5C332 #fff; scrollbar-width: thin; scrollbar-border-radius:30px;}


/* Background &amp; Color Style CSS BOF
=================================================== */

.none{display: none !important;}

/* Font Color Style CSS BOF */
	.white_text { color:#fff !important; }
	.black_text { color:#000 !important; }
	.yellow_text{color:#F5C332 !important;}
	/* Background Color Style CSS BOF */

	.black-bg-overlay{background: #000;}
	.pink-bg-overlay{background:#FFF7E1 !important;}

/* 03 : Heading Style CSS BOF
=================================================== */
	h1, h2, h3, h4, h5, h6 {font-family: 'Montserrat', sans-serif; line-height:normal; font-weight: 600;font-style:normal; color: #18160E;}

	h1 { font-size:42px; line-height: 52px;}
	h2 { font-size:32px;}
	h3 { font-size:24px;}
	h4 { font-size:20px;}
	h5 { font-size:18px;}  
	h6 { font-size:16px;line-height: 24px;}

/* Font Weight Variation CSS BOF */
.font_rg{font-weight:normal!important;}
.font_bl{font-weight:bold!important;}
.font_blk{font-weight:900!important;}
.font_md{font-weight:500!important;}
.font_sb{font-weight:600!important;}
.font-14{font-size:14px;line-height:22px;}
.font-12{font-size:12px;line-height:22px;}


/* 04 : Paragraph Style CSS BOF
=================================================== */
	p { line-height:26px;font-family: 'Montserrat', sans-serif; color: #5F6368; font-size: 16px; font-weight: normal; font-style:normal; margin-bottom: 15px; font-weight: normal;}

/* 05 : Image Style CSS BOF
=================================================== */
	img { margin-bottom:0; } /*margin-bottom:5px*/

/*** Buttton Varilation CSS BOF ***/
.btn{background-color:#F5C332;padding:18px 32px;font-size:18px;line-height: 22px; font-weight:500;font-family:'Mazzard M',sans-serif;transition:all .4s ease-in-out 0s;-moz-transition:all .4s ease-in-out 0s;-webkit-transition:all .4s ease-in-out 0s;-o-transition:all .4s ease-in-out 0s;border-radius:30px;border:1px solid #F5C332;text-transform:unset;box-shadow:none;min-width:184px;color:#fff;}
.btn-yellow{background-color:#F5C332;color:#383733;border-color:#F5C332;}
.btn-transparent{background-color:transparent;border-color:#F0E8E8;color:#F0E8E8;}

/* Hover State CSS BOF */
.btn:hover,.btn:focus,.btn:active{background-color:#000;border:1px solid #000;color:#fff;box-shadow:none;outline:none;}
.btn.white_btn{background-color:#fff;border:1px solid #fff;color:#F5C332;}
.btn.white_btn:hover,.btn:focus,.btn:active{background-color:#000;border:1px solid #000;color:#fff;box-shadow:none;outline:none;}
.btn.black-btn{background-color:#000;border:1px solid #000;color:#fff;}
.btn.black-btn:hover,.btn:focus,.btn:active{background-color:#F5C332;border:1px solid #F5C332;color:#fff;box-shadow:none;outline:none;}
.btn.black-btn:after{background-color:#F5C332;border:1px solid #F5C332;}

/*border buttone css BOF*/
.btn-border{background:transparent;padding:14px 40px;color:#000;font-size:18px;font-weight:500;font-family:'Mazzard M',sans-serif;transition:all .4s ease-in-out 0s;-moz-transition:all .4s ease-in-out 0s;-webkit-transition:all .4s ease-in-out 0s;-o-transition:all .4s ease-in-out 0s;border-radius:30px;border:1px solid #000;text-transform:unset;box-shadow:none;}
.btn-border:hover,.btn-add:focus,.btn-add:active{background-color:#F5C332;border:1px solid #F5C332;color:#fff;box-shadow:none;outline:none;}
.btn_white-border{background:transparent;padding:14px 40px;color:#fff;font-size:18px;font-weight:500;font-family:'Mazzard M',sans-serif;transition:all .4s ease-in-out 0s;-moz-transition:all .4s ease-in-out 0s;-webkit-transition:all .4s ease-in-out 0s;-o-transition:all .4s ease-in-out 0s;border-radius:30px;border:1px solid #fff;text-transform:unset;box-shadow:none;}
.btn_white-border:hover,.btn-add:focus,.btn-add:active{background-color:#fff;border:1px solid #fff;color:#F5C332;box-shadow:none;outline:none;}
.btn{position:relative;overflow:hidden;z-index:1;}
.btn:after{content:'';position:absolute;left:0px;right:0px;top:0px;bottom:0px;z-index:-1;background:#000;border:1px solid #000;-webkit-transition:all 400ms ease;-moz-transition:all 400ms ease;-ms-transition:all 400ms ease;-o-transition:all 400ms ease;transition:all 400ms ease;-webkit-transform:scale(0);-moz-transform:scale(0);-o-transform:scale(0);-ms-transform:scale(0);transform:scale(0);}
.btn:hover:after{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}
.btn_white-border:after{background:#fff;border:1px solid #fff;}
.btn.btn-light{color:#18160E;background:#FFF0C6;border-color:#FFF0C6;}
.btn.btn-light:hover{color:#fff;}


[type=button],[type=reset],[type=submit],button{-webkit-appearance:unset;}
/*tab active*/
	.tab-bg-top{background: #F5C332; color: #fff; font-weight: bold;}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0; }

/* 11 : Form &amp; Input Style BOF
==================================================== */ 
	
.form-control {background: transparent; border: 1px solid #ccc; border-radius: 10px; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; font-size: 18px; color: #5F6368; -webkit-appearance: none; font-family: 'Montserrat', sans-serif; font-weight: normal; padding: 15px 15px 15px 15px; height: 60px; } 
textarea.form-control {resize: none; overflow: auto; padding: 15px 15px 15px; height: 140px; }
.form-group {margin-bottom: 30px; }
	    
/*** Placeholder CSS BOF ***/
.form-control::placeholder{color:#7E7E7E;font-weight:300;font-size:14px;}
.form-control::-moz-placeholder{color:#7E7E7E;font-weight:300;font-size:14px;}
.form-control:-ms-input-placeholder{color:#7E7E7E;font-weight:300;font-size:14px;}
.form-control::-webkit-input-placeholder{color:#7E7E7E;font-weight:300;font-size:14px;}
.form-control::-o-input-placeholder{color:#7E7E7E;font-weight:300;font-size:14px;}

/* Focus State CSS BOF */

.form-control:focus,.form-select:focus {border-color: #F5C332; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; background-color: #EFF7FE; }
.page-wrapper { margin:0px auto; overflow-x: hidden;}
.text-underline{ text-decoration: underline; }
.text-capitalize{ text-transform: capitalize !important; }
.text-uppercase{ text-transform: uppercase !important; }
.display-none{display: none !important; }
.no-scroll{overflow: hidden;}
.no-padding{padding: 0 !important; }
.float-start-wp{float: left !important; }
/*.page-wrapper { background: #FCFCFC; }*/

/*header active start*/

	.site-header{position: relative;  z-index: 999;}
	.header-main.active {box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15); background:#000; }


/*header active end*/


/*index css Start*/

	.header-main .header-inner-main {position: relative; background: transparent;border-bottom: 1px solid #6B6969;}
	.header-main .header-inner-main .header-inner {width: 100%; align-items: center; }
	.header-main .header-inner-main  nav.navbar {padding: 0; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: -webkit-box; display: flex; flex-wrap: nowrap; align-items: center;}
	.header-main .header-inner-main .header-inner .header-menu ul li a{position:relative;font-style:normal;font-weight:500;font-size:12px;line-height:22px;margin:0px 16px;color:#fff;padding:34px 0px;text-shadow:none;}
	.header-main .header-inner-main .header-inner .header-menu ul li.active a{color:#F5C332;}
	.header-main .header-inner-main .header-inner .header-menu ul li a:hover{color:#F5C332;}
	.header-main .header-inner-main .header-inner .header-menu ul li a.active{color:#F5C332;}
	.header-main .header-inner-main .header-inner .header-menu ul li a:after{display:block;content:'';position:absolute;bottom:0px;width:100%;left:0px;border-bottom:1px solid #F5C332;transform:scaleX(0);transition:transform 250ms ease-in-out;}
	.header-main .header-inner-main .header-inner .header-menu ul li a:hover:after,.header-main .header-inner-main .header-inner .header-menu ul li.active a:after{transform:scaleX(1);transform-origin:50% 50%;}
	.header-main .header-inner-main .header-menu-inner{display:flex;align-items:center;justify-content:space-between;width:100%;}
	.header-main .header-inner-main .header-menu-inner .header-btn {display: flex; align-items: center; width: 104px; justify-content:	end; } 
	.header-main.active .header-inner-main {border-color: #F5C332; }

	.header-main .header-inner-main .header-menu-inner .header-btn a.profile-link{width:40px;height:40px;border-radius:100%;border:1.5px solid #f5c332;margin-left:27px;}
	.header-main .header-inner-main .header-menu-inner .header-btn a.profile-link img{width:100%;height:100%;object-fit:cover;}
	.header-main .header-inner-main .header-menu-inner .navbar-nav {width: calc(100% - 104px); justify-content: center; }
	.header-btn .cart-link{position:relative;width:40px;}
	.header-btn .cart-link .number-text{background:#F5C332;padding:2px;position:absolute;top:-4px;font-size:12px;min-width:20px;text-align:center;border-radius:20px;color:#383733;right:7px;font-weight:500;}
	.menu-span .text-span {font-style: normal; font-weight: 600; font-size: 8px; line-height: 12px; color: #383733; background: #F5C332; border-radius: 8px; padding: 1px 4px 2px; vertical-align: super; } 

	/*toggele switch*/

	.header-main button.navbar-toggler {padding: 0; border: none; margin: 10px 0; top: 30px; }
	.header-main button.navbar-toggler span.icon-bar:nth-child(2) {visibility: hidden; opacity: 0; }
	.header-main button.navbar-toggler.collapsed span.icon-bar:nth-child(2) {visibility: visible; opacity: 1; }
	.header-main button.navbar-toggler span.icon-bar:nth-child(1) {top: 10px; transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); }
	.header-main button.navbar-toggler span.icon-bar:nth-child(3) {margin-right: auto; margin-left: 0; }
	.header-main button.navbar-toggler.collapsed span.icon-bar:nth-child(1), .header-main .header-inner .header-right button.navbar-toggler.collapsed span.icon-bar:nth-child(3) {top: 0; transform: rotate(0); -webkit-transform: rotate(0); -ms-transform: rotate(0); background: #F5C332; width: 18px; margin-right: 0; }
	.header-main button.navbar-toggler span.icon-bar {margin: auto; background-color: #F5C332; border-radius: 2px; display: block; height: 3px; position: relative; width: 28px; -webkit-transition: all 200ms ease; -moz-transition: all 200ms ease; -o-transition: all 200ms ease; -ms-transition: all 200ms ease; transition: all 200ms ease; }
	.header-main button.navbar-toggler .icon-bar+.icon-bar {margin-top: 6px; }
	.header-main .header-right {padding-left:40px;width: 100%;}
	.header-main button.navbar-toggler span.icon-bar:nth-child(3) {top: -8px; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); }

/*dropdown*/


.header-main{position:absolute;width:100%;right:0;top:0;left:0px;transition: all 400ms ease;}
.header-main.active{position:fixed;width:100%;left:0px;right:0px;top:0px;padding-top: 0px}
/*index css Start*/

.login-btn ul li{display:inline-block;margin-left:30px;}
/*.header-inner-main .container{max-width:100%;}*/

/*home-details listed property*/
:root{--spinner-color-1:rgba(245,195,50,.75);--spinner-color-2:rgba(247,206,85,.75);--spiner-color-3:rgba(233,169,32,.75);}
.moderspinner{width:40px;height:40px;border:dotted 5px var(--spinner-color-1);border-radius:100%;animation:spin 1s linear infinite;}
@keyframes spin{
	0%{transform:rotate(0deg) scale(0.8);border-top-color:transparent;border-right-color:transparent;}
	50%{transform:rotate(180deg) scale(1.2);border-color:var(--spinner-color-2);border-top-color:transparent;border-right-color:transparent;}
	100%{transform:rotate(360deg) scale(0.8);border-color:var(--spinner-color-3);border-top-color:transparent;border-right-color:transparent;}
}
.page-loader{z-index:9999999;position:fixed;background:#fff;top:0;left:0;right:0;bottom:0;width:100%;height:100%; overflow: hidden;}
.page-loader .moderspinner{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;}


ul.slick-dots{font-size:0;text-align:left;}
ul.slick-dots li{display:inline-block;margin:12px 15px;}
ul.slick-dots li button {font-size: 0; outline: 0; border: 1px solid #CBCBCB; width: 8px; height: 8px; border-radius: 100%; background: transparent; padding: 0; cursor: pointer; }
ul.slick-dots li.slick-active button{ background:#000; border-color:#000;}
ul.slick-dots li{padding:0px;border-radius:100%;}
ul.slick-dots li button{position:relative;z-index:1;}
ul.slick-dots li button:after{content:'';width:32px;height:32px;background:transparent;position:absolute;transform:translate(-50%,-50%);z-index:0;border-radius:100%;transition:all 400ms ease;}
ul.slick-dots li.slick-active button:after{background:#fff;}
ul.slick-dots li button:before{content:'';width:16px;height:16px;background:transparent;position:absolute;transform:translate(-50%,-50%);z-index:1;border-radius:100%;transition:all 400ms ease;}
ul.slick-dots li.slick-active button:before{background:#000;}

button.slick-arrow {font-size: 0; position: absolute; z-index: 9; background: transparent; cursor: pointer; border: 0; bottom: 0; width: 32px; height: 32px; box-shadow: 0px 10px 30px rgba(17, 0, 97, 0.18); border-radius: 100%; text-align: center; }
button.slick-prev.slick-arrow {left: 0px; }
button.slick-next.slick-arrow {left: 230px; }
button.slick-prev.slick-arrow:after {content: '\f104';font-size: 18px;font-family:fontawesome;color:#000;}
button.slick-next.slick-arrow:after {content: '\f105';font-size: 18px;font-family:fontawesome;color:#000;}

/* COMMON TITLE SECTION CSS */
.section{padding:100px 0px;}
.title-main .subtitle{color:#F5C332;font-weight:400;font-size:18px;line-height:24px; font-family:'Libre Baskerville';font-style: italic;letter-spacing: 0.04em;margin-bottom: 8px !important;}
.title-main p.title {color: #EEB100; font-size: 14px; line-height: 18px; margin-bottom: 10px; font-family: 'Libre Baskerville'; font-style: italic; font-weight: 400; }
.title-main.mb-60{margin-bottom: 60px;}


/* COMMON BANNER SCETION CSS */
.banner-header-pt{padding-top: 90px;}
.banner-section{background-position:top center;background-repeat:no-repeat;background-size:cover;}
.banner-section .banner_wp{background-position:top center;background-repeat:no-repeat;background-size:cover;padding:200px 0px;}
.banner-text .title-main p {margin-bottom: 15px; } 
.banner-text .title-main {margin-bottom: 52px; } 

/* HOME PAGE ---- BANNER SECTION SOC */
.banner-logo-img{max-width:295px;margin:auto;padding-bottom:24px;}

/** HOME PAGE ---- PRODUCT SECTION SOC */
.product-box{background:#fff;cursor:pointer;border-radius: 160px 160px 100px 100px;transition:all 500ms ease; height: 100%;}	
.product-box .product-img{margin-bottom:24px;box-shadow:0px 10px 30px rgba(0,0,0,0.1);border-radius:100%;border: 4px solid #fff;transition:all 500ms ease;}
.product-box:hover .product-img {border-color: #FFE9AA; } 
.product-img img{width:100%;}
.product-content{padding:0px 30px 42px;}
.product-box:hover{background:#FFE9AA;}
.product-size{display:none;transition:all 500ms ease;left:0;right:0;z-index:99;}
.product-box:hover .product-size{display:flex;}
.btn-links{transition:all 500ms ease;}
.product-box:hover .btn-links a{opacity:0;}
.overlay-curves{border-radius:0px 0px 300px 300px;}
.product-content .like-img-content{margin:9px 0px 24px;}
.product-content .btn{font-size:14px;width:154px;padding:8px 20px;border:1px solid #E0E0E0;border-radius:30px;}


/* HOME PAGE --- OFFER SECTION SOC */
.offer-left{background-position:center;background-repeat:no-repeat;background-size:cover;border-top-left-radius:30px;border-bottom-left-radius:30px;position:relative;z-index:99;}
.offer-img{position:absolute;left:0;right:0;top:0;bottom:0;}
.offer-sec{margin-top:-150px;}
.offer-right {position: relative; }
.offer-wrapper {
    border-radius: 20px;
    overflow: hidden;
}

/* HOME PAGE --- NEW EVENT SECTION SOC */
select.form-control.event-select{border-top-right-radius:0;border-top-left-radius:30px;border-bottom-left-radius:30px;cursor: pointer; border-bottom-right-radius:0;border-right:0;padding-left:30px;background-color:#fff;font-size:16px;color:#999999;}
.form-control.event-control{border-radius:0;background-color:#fff;}
.event-btn{border-top-left-radius:0;border-bottom-left-radius:0;}
.select-arrow{position:absolute;top:0;bottom:0;left:7px;width:20px;height:100%;display:flex;align-items:center;justify-content:center;}
.new-event-img{z-index:-1;}
.new-event-wrapper{position:relative;}
.new-event-wrapper:after{content:'';position:absolute;left:0;top:0;bottom:0;width:100%;height:calc(100% - 130px);border-radius:20px;z-index:-1;background-image:url('./../images/home/event_bg.png');background-position:center;background-repeat:no-repeat;background-size:cover;}
.new-event-content{max-width:760px;margin:auto;padding:100px 100px 130px;text-align:center;background-position:center;background-repeat:no-repeat;background-size:cover; border-radius: 20px;}
.new-event-content{position:relative;z-index:1;box-shadow:0px 20px 70px rgba(0,0,0,0.15);}
.new-event-content:after{content:'';position:absolute;left:0px;right:0px;bottom:0px;top:0px;background:rgba(255,255,255,0.4);z-index:-1;border-radius: 20px;}

/* HOME PAGE --- SPECIAL OFFER SECTION SOC */
.special-img{position:absolute;left:0;top:0;height:100%;right:0;z-index:-1;}
.special-img img{object-fit:cover;object-position:left;}
.special-content-slider{border-radius:20px;overflow:hidden;}


/* HOME PAGE --- TESTIMONIAL SECTION SOC */
.testimonial-sec{background-image:url('./../images/home/testimonial_bg.png');background-position:center;background-repeat:no-repeat;background-size:cover;}
.testimonial-img-slider{width:370px;}
.testimonial-content-slider{width:calc(100% - 400px);margin-left:30px;background:rgba(0,0,0,0.25);backdrop-filter:blur(2px);padding:30px;}
.testimonial-wrapper{display:flex;flex-wrap:wrap;}
.testimonial-content h3,.testimonial-content h6{color:#fefefe;}
.testimonial-content p{color:#DDDBD8;margin:10px 0px;}
.testimonial-slider-text{padding:85px 40px;}
.top-quote-sc{position:absolute;top:30px;left:30px;}
.bottom-quote-sc{position:absolute;bottom:30px;right:30px;}
.testimonial-section{padding:108px 0px 72px;}
.testimonial-slider-text .slick-dots{position:absolute;left:40px;bottom:0;}


.banner-text-w-545 {max-width: 545px; margin: auto; }


/* FOOTER SECTION SOC */
footer{background-color:#18160E;padding:120px 0px 0px;}
.footer-top h4{color:#F1EEE9;}
.footer-logo{padding-bottom:40px;}
.footer-top-content{padding-bottom:42px;}
.footer-top-wrapper{max-width:550px;margin:auto;}
.footer-form .form-control{background:#2B2929;border:1px solid transparent;border-radius:30px;color:#fff;padding-right:200px; height:72px;padding-left:24px; } 
.footer-form .form-group{margin-bottom:0;position:relative;}
.footer-form .btn {position: absolute; top: 15px; right: 15px; font-weight: 600; font-size: 14px; line-height: 24px; padding: 9px 19px; min-width: auto; } 
.footer-menu-col h6{margin-bottom:24px;}
.footer-menu-col ul li a p{color:#E3D3D3;font-size: 14px;}
.footer-wrapper{border-top:1px solid #444444;padding-top:80px;}
.footer-main{margin-top:80px;background:linear-gradient(180deg,#18160E 0%,rgba(24,22,14,0) 100%),url('./../images/footer_main_bg.png');background-position:center;background-repeat:no-repeat;background-size:cover;}
.foooter-bottom{background-color:#18160E;}
.place-box-wrapper{display:flex;flex-wrap:wrap; max-width: 310px;}
.place-box-wrapper a{width:calc(100% / 3 - 5px); margin: 2.5px;}
.payment-accept-main {max-width: 170px; } 

.visit_our_cafe{border-radius:100px;padding:48px 70px 48px 103px;margin-bottom:80px;display:inline-block;width:100%;}
.visit_our_cafe .visit_our_cafe-row{display:flex;flex-wrap:wrap;align-items: center;}
.visit_our_cafe .visit_our_cafe-row .visit_our_cafe-link{width:105px;}
.visit_our_cafe-link .btn{width:105px;height:105px;min-width:auto;border-radius:100%;display:flex;align-items:center;justify-content:center;text-align:center;font-weight:600;font-size:32px;line-height:39px;color:#18160E;}
.visit_our_cafe-link .btn:hover{color:#fff;}
.visit_our_cafe .visit_our_cafe-row .visit_our_cafe-text{width:calc(100% - 105px);padding-right:30px;}
.visit_our_cafe-text h3{margin-bottom:16px;}
.visit_our_cafe-text p{color:#F2F2F2;letter-spacing:0.48px;font-weight:400;font-size:14px;line-height:22px;margin-bottom:0px;}

/* FOOTER SECTION EOC */



/* ABOUT PAGE --- HISTORY SECTION SOC */
.history-content-sc .title-main{margin-bottom:24px;}
.history-content h4{margin-bottom:20px;}
.history-sec-img{position:absolute;bottom:-80px;left:0;max-width:430px;}
.history-img-sc{position:relative;padding:0px 100px 0px 80px;}
.our-history-wrapper{padding:40px 0px 110px;}
.our-history{background:url('./../images/about/history_img.png') no-repeat center;background-size:cover;}

.speciality-text-wp{padding:160px 0px 80px;max-width:700px;margin:0px auto;}
.our-speciality-bottom{ margin-top:-350px; }
.our-speciality-top {padding-bottom: 350px; background-repeat: no-repeat; background-position: center; background-size: cover; } 
.our-speciality-bottom .speciality-box-text{height:50%;background:#FFF7E1;width:100%;padding:100px 10px;text-align:center;display:flex;align-items:center;}
.our-speciality-bottom .speciality-box-img{height:50%;}
.our-speciality-bottom .speciality-box-img img{width:100%;height:100%;object-fit:cover;}

.speciality-box-text h5{padding-bottom:30px;margin-bottom:32px;position:relative;}
.speciality-box-text h5:after{content:'';width:100px;height:2px;background:#F5C332;display:inline-block;position:absolute;left:0px;right:0px;margin:auto;bottom:0px;}
.speciality-box-text p{color:#74726E;margin-bottom:0px;font-size:16px;}
.speciality-text-wp .title-main{margin-bottom:24px;}
.speciality-text-wp .title-main p.title{margin-bottom:16px;}
.speciality-content p{color:#F1EEE9!important;}
.our-speciality-bottom .speciality-box-text .title-main {height: 100%; overflow: auto; padding:0px 40px}

.book_my_table_form .form-control{border:1px solid #D5D5D5;border-radius:30px;padding-left:30px;}
.form-line .hr{display:inline-block;width:100%;border:1px solid #E7E7E7;margin:30px 0px 60px;}
.book_my_table_top{max-width:590px;margin:0px auto 80px;}
.book_my_table_top p.title{margin:24px 0px 20px;position:relative;}
.book_my_table_top p.title:after{content:'';position:absolute;top:50%;transform:translateY(-50%);border:1px solid #FFF0C6;left:0;right:0;z-index:-1;}
.book_my_table_top p.title span{background:#fff;padding:0px 10px;font-family:'Libre Baskerville';font-style:italic;font-weight:400;font-size:20px;line-height:25px;color:#383733;}

.book_my_table_top h6{margin:20px 0px;font-weight:500;font-size:16px;line-height:30px;}
.book_my_table_top h6 span{background:#FFF7E1;border-radius:20px;padding:5px 15px;font-weight:500;font-size:16px;line-height:30px;}
.book_my_table_sub-text{font-style:normal;font-weight:400;font-size:12px;line-height:22px;}
.form-line {max-width: 85%; margin: auto; }
.book_my_table_sec{position:relative;padding-bottom:180px;}
.book_my_table_sec .book_mt_shap_left{position:absolute;top:50px;left:0px;z-index:-1;max-width:150px;}
.book_my_table_sec .book_mt_shap_right{position:absolute;right:0;bottom:100px;z-index:-1;max-width:150px;}

.banner-sec.banner-ptb-70 .banner_wp{padding:70px 0px;}
.banner-sec.banner-ptb-70 .banner-section{background-position:center!important;}

.gallery-img_1{margin:15px 0;}
.gallery-img_1 .gallery-img-wp{width:100%;height:100%;}
.gallery-img_1 .gallery-img-wp img{width:100%;height:100%;object-fit:cover;border-radius:12px;}
.gallery-img_2 .gallery-img-wp{width:100%;height:calc(50% - 30px);margin:15px 0px 0px;}
.gallery-img_2 .gallery-img-wp img{width:100%;height:100%;object-fit:cover;border-radius:12px;}
.gallery-img_2 .gallery-img-wp.gallery-img-2{margin-bottom:30px;}
.our-gallery {background: #FFF7E1; }

.get_in_touch-sc_wp{background:#fff;padding:80px 60px;background-image:url('./../images/contact-bg.png');background-repeat:no-repeat;background-position:center;background-size:cover;position:relative;z-index:1;}
.get_in_touch-sc_wp:after{content:'';position:absolute;left:0px;right:0px;bottom:0px;top:0px;background:rgba(255,255,255,0.68);z-index:-1;}
.contact-sc-time_wp{background-image:url('./../images/contact-time-bg.png');background-repeat:no-repeat;background-position:center;background-size:cover;position:relative;z-index:1;}
.contact-sc-time_wp:after{content:'';position:absolute;left:0px;right:0px;bottom:0px;top:0px;background: linear-gradient(0deg, rgba(245, 195, 50, 0.81), rgba(245, 195, 50, 0.81));z-index:-1;}
.contact-main{background:#FFF7E1;}
.contact-sc-time_wp .contact-sc-time{padding:80px 50px;}
.contact-time-title h1{font-family:'Oswald';font-weight:700;margin-bottom:0px;font-size:40px;letter-spacing:1px;line-height:40px;}
.contact-time-title h4{font-family:'Oswald';font-weight:700;letter-spacing:2px;}
.contact-time-title{margin-bottom:30px;}
.contact-sc-time_wp .contact-sc-time p{font-weight:400;font-size:15px;line-height:22px;text-align:center;letter-spacing:2px;margin-bottom:22px;}
.social-contant h1{font-family:'Oswald';font-weight:700;margin-bottom:0px;font-size:40px;letter-spacing:1px;margin-bottom:40px;}
ul.social-link{display:flex;justify-content:center;align-items:center;flex-wrap:wrap;}
ul.social-link li{display:inline-block;width:40px;height:40px;margin:7px;}
ul.social-link li img{width:100%;height:100%;object-fit:contain;}
.contact-wrapper{border-radius:20px;overflow:hidden;margin-top: -400px;}
.get_in_touch_form .btn.btn-yellow {letter-spacing: 2px; margin-top:60px;border-radius: 20px; }
.get_in_touch_form .form-control {border-radius: 0; border-top: none; border-left: none; border-right: none; }
.contact-banner .banner-section {padding-bottom: 250px; }

.banner_profile{padding:50px 0px;}
.profile-main{background:#F1EEE9;}
.white-bg{background:#fff;border-radius: 4px;}
.profile-wrapper {margin-top: -150px; }
.profile-header{padding:0px 15px;}
.profile-header h5{margin-bottom:0px;font-style:normal;font-weight:600;font-size:14px;line-height:18px;color:#18160E;}
.profile-header .profile-header-wp{padding:15px 0px;border-bottom:1px solid #D5D5D5;margin-bottom:15px;}
.profile_right .profile-form{padding:0px 15px;}
.profile-side-link{padding:0px 15px;}
.profile-side-link ul li{margin:5px 0px;}
.profile-side-link ul li a{width:100%;color:#504E4B;font-weight:500;font-size:13px;line-height:16px;padding:15px 15px;display:flex;align-items:center;background:#fff;border-radius:8px;position:relative;}
.profile-side-link ul li a .icon{width:16px;height:16px;object-fit:contain;margin-right:15px;}
.profile-side-bar{padding-bottom:50px;min-height: 500px;}
.profile-side-link ul li.active a{background:#FFF7E1;}
.profile-side-link ul li a:hover{background:#f1f1f1;}
.profile-side-link ul li a:after{content:'';left:-14px;top:0;bottom:0;width:3px;height:100%;background:#F5C332;border-radius:0px 12px 12px 0px;position:absolute;visibility:hidden;opacity:0;}
.profile-side-link ul li.active a:after,.profile-side-link ul li a:hover:after{visibility:visible;opacity:1;}
.profile-form .form-group{margin-bottom:24px;}
.profile-form .form-group label{font-size:14px;margin-bottom:5px;}
.profile-form .form-control{height:40px;font-size:14px;border-radius:4px;padding:10px 12px;}
.phone-number{display:flex;}
.phone-number .contry_code{width:65px;border-top-right-radius:0px;border-bottom-right-radius:0px;}
.phone-number  .number-input{width:calc(100% - 65px);border-top-left-radius:0px;border-bottom-left-radius:0px;}
.profile-form .btn{height:40px;padding:6px 60px;border-radius:4px;font-size:15px;}

.profile-img .profile-pic{width:100%;height: 100%; object-fit: cover;}
.profile-img .file-upload{position: absolute;opacity: 0;}
.profile-img .circle{border-radius:100%!important;overflow:hidden;width:120px;height:120px;border:2px solid rgba(255,255,255,0.2);}
.p-image{position:absolute;top:167px;right:30px;color:#666666;transition:all .3s cubic-bezier(.175,.885,.32,1.275);}
.p-image:hover{transition:all .3s cubic-bezier(.175,.885,.32,1.275);}


.profile-img{position:relative;width:120px;}
.profile-img .p-image{position:absolute;top:70px;right:-5px;color:#666666;transition:all .3s cubic-bezier(.175,.885,.32,1.275);}
.profile-img .p-image .icon.upload-button{width:32px;height:32px;background:#FFFFFF;border:1px solid #FFDC75;box-shadow:0px 4px 10px rgba(0,0,0,0.1);display:flex;align-items:center;justify-content:center;border-radius:100%;cursor:pointer;}
.profile-row {display: flex; align-items: center; border-bottom: 1px solid #D5D5D5; padding-bottom: 30px; margin-bottom: 30px; } 
.profile-row .profile-text{width:calc(100% - 120px);padding-left:30px;}
.coupon-code-main{display:flex;max-width:420px;margin-top:15px;}
.coupon-code-main p{margin-bottom:0px;font-style:normal;font-weight:500;font-size:14px;line-height:26px;color:#219653;border:1px solid #F1EEE9;border-radius:4px;padding:5px 15px;width:calc(100% - 90px);}
.coupon-code-main p span.coupon-code{color:#2E2A21;}
.coupon-code-main .copy-btn{background:#F1EEE9;width:90px;text-align:center;display: flex; align-items: center; justify-content: center; font-size:14px;color:#18160E;font-weight:600;}

.checkbox-main{margin-bottom:35px;margin-top:7px;}
.profile_right .profile-form label{font-size:14px;}
.form-group-box input:checked + label:before{background:#f5c332;border-color:#f5c332;}
.form-group-box label{color:#A5A5A5;}
.form-group-box input:checked + label{color:#18160E;}
.form-group-box{display:inline-block;margin:10px 15px 10px 0px;}
.form-group-box{display:inline-block;margin-bottom:15px;}
.form-group-box input{padding:0;height:initial;width:initial;margin-bottom:0;display:none;cursor:pointer;}
.form-group-box label {position: relative; cursor: pointer; display: flex; align-items: center; }
.form-group-box label:before{content:'';-webkit-appearance:none;background-color:transparent;border:1px solid #D4D4D4;box-shadow:none;padding:10px;display:inline-block;position:relative;vertical-align:middle;cursor:pointer;margin-right:12px;border-radius:3px;}
.form-group-box input:checked + label:after{content:'';display:block;position:absolute;top:2px;left:8px;width:6px;height:14px;border:solid #fff;border-width:0 2px 2px 0;transform:rotate(45deg);}

.order-history-card{border:none;border-radius:0;}
.order-history-card .nav-tabs{border-bottom:0px;}
.order-history-card .nav-tabs .nav-item.show .nav-link,.order-history-card  .nav-tabs .nav-link.active{color:#EEB100;}
.order-history-card .nav-tabs .nav-link{font-weight:500;font-size:12px;line-height:18px;color:#504E4B;margin-bottom:0px;background:0 0;border:none;border-top-left-radius:0;border-top-right-radius:0;padding:12px 24px 12px 0px;}
.product-order-row .product-order-col{padding:15px;border:1px solid #F1EEE9;border-radius:4px;background:#fff;margin-bottom:16px;}
.product-order-row .product-order-col .order-link-wp{display:flex;width:100%;flex-wrap:wrap;}
.order-link-wp .product-order-img{width:100px;height:100px;border-radius:4px;overflow:hidden;}
.order-link-wp .product-order-info{width:calc(100% - 100px);padding-left:15px;}
.order-link-wp .product-order-info h5.date{font-weight:500;font-size:12px;color:#18160E;line-height:22px;}
.order-link-wp .product-order-info p{font-style:normal;font-weight:400;font-size:12px;line-height:22px;margin-bottom:4px;}
.order-link-wp .product-order-info h5.price{font-weight:600;font-size:12px;line-height:22px;min-width: 40%;	}
.order-link-wp .product-order-img img{width:100%;height:100%;object-fit:cover;}
.product-order-row .product-order-col.active{background:#FFF7E1;border:1px solid #FFDC75;}

.order-summary{padding:0px 15px;}
.order-summary .order-id{margin:0px -15px;padding:10px;background:#FFF7E1;}
.order-summary .order-id h4{font-weight:500;font-size:14px;line-height:22px;margin-bottom:4px;}
.order-summary .order-id p{font-weight:500;font-size:10px;line-height:16px;margin-bottom:0px;color:#74726E;}
.order-summary .order-list{border-bottom:1px solid #D5D5D5;padding:8px 0px;}
.order-list .order-list-col{display:flex;justify-content:space-between;padding:8px 0px;}
.order-list .order-list-col .order-list-text{padding-right:15px;}
.order-list .order-list-col .order-list-text h5{font-weight:400;font-size:14px;line-height:22px;margin-bottom:2px;}
.order-list .order-list-col .order-list-text ul li{display:inline-block;font-weight:500;font-size:12px;line-height:18px;color:#74726E;margin:3px;}
.order-list .order-list-col .order-list-text ul{display:flex;flex-wrap:wrap;}
.order-list .order-list-col .order-list-price h5{font-weight:500;font-size:14px;line-height:22px;color:#18160E;margin-bottom:0px;}
.order-summary .order-list.subtotal .order-list-col{padding:0px;}
.order-summary .order-list.subtotal .order-list-col .order-list-price h5{font-weight:600;font-size:14px;line-height:22px;}

.order-list-col.service-charge p { font-weight: 500; font-size: 12px; line-height: 18px; margin-bottom: 0px; }
.order-summary .order-list.subtotal { padding: 16px 0px; }
.payment_type{padding:16px 0px;border-top:1px solid #D5D5D5;}
.payment_type p.title-type{font-style:normal;font-weight:500;font-size:12px;line-height:18px;color:#18160E;margin-bottom:10px;}
.payment_type h5{font-weight:600;font-size:12px;line-height:18px;}
.payment_type p.address{font-weight:400;font-size:12px;line-height:22px;color:#18160E;margin-bottom:0px;}
.payment_type:last-child{border-bottom:none;}
.payment_btn-main{padding-bottom:24px;}
.payment_btn-main .payment_btn{background:#219653;border-radius:4px;width:100%;color:#fff;text-align:center;padding:10px;}
.payment_btn-main .payment_btn:hover {background: #000; }

.product-order-row .product-order-col .order-link{position:absolute;left:0;right:0;bottom:0px;top:0px;}
.product-order-row .product-order-col{position:relative;}
.give_feedback_main{display:flex;justify-content:space-between;}
.give_feedback_main .give_feedback:hover {color: #EEB100; } 
.give_feedback_main .give_feedback{font-weight:600;font-size:12px;line-height:22px;color:#219653;position:relative;z-index:3;}

.give_us_feedback-pp .modal-dialog{max-width:570px;}
.give_us_feedback-pp .modal-dialog .modal-content{background:#FFFFFF;border-radius:12px;border:none;padding:40px;}
.give_feedback-title h4{font-weight:600;font-size:16px;line-height:24px;color:#219653;}
.give_feedback-title p{font-weight:500;font-size:14px;line-height:22px;color:#504E4B;max-width:388px;}
.give_feedback-title{margin-bottom:40px;}
.give_feedback-col{margin-bottom:25px;}
.give_feedback-col h4{font-weight:500;font-size:14px;line-height:24px;color:#74726E;margin-bottom:2px;}
ul.star-wp{display:flex;}
ul.star-wp li{margin-right:10px;margin-bottom:10px;}
.feedback-star{display:flex;justify-content:space-between;}
.feedback-star h4{font-weight:600;font-size:14px;line-height:20px;color:#219653 !important;}
.give_feedback-col.rated h4{color:#18160E;}
.comment-main label{font-style:normal;font-weight:500;font-size:12px;line-height:24px;color:#999999;margin-bottom:12px;}
.comment-main textarea.form-control{border:1px solid #D5D5D5;border-radius:4px;font-size:14px;}
.send-btn-wp .send-btn{border:1px solid #D5D5D5;border-radius:4px;width:100%;background:#219653;text-align:center;color:#fff;padding:13px;}
.send-btn-wp .send-btn:hover{background:#000;}

.send-btn-wp{margin-top:20px;}
.give_feedback_main .cancel-report {position: relative; z-index: 3; color: #EB5757; font-weight: 600; font-size: 12px; line-height: 22px;  }
.cancel-give-feedback {display: inline-block; text-align: right; }
.cancel-give-feedback a{ margin-left: 10px; }
.oh-track-header-wp{display:flex;justify-content:space-between;align-items:center;}
.oh-track-header-wp .oh-track-title{display:flex;align-items:self-start;}
.oh-track-header-wp .oh-track-title a{width:12px;margin-right:10px;}
.oh-track-header-wp .oh-track-title a img{width:auto;max-width:100%;}
.oh-track-header-wp h6.date{font-weight:500;margin-bottom:0px;font-size:14px;margin-left:15px;}
.oh-track-wp p{font-style:normal;font-weight:500;font-size:14px;line-height:18px;color:#18160E;margin-top:7px;}
.oh-track-step-wp{display:flex;align-items:center;padding:20px 0px;justify-content:space-around;}
.oh-track-step-wp .oh-track-step{text-align:center;background:#fff;position:relative;}
.text_green{color: #219653 !important;}
.red_text{color: #EB5757 !important;}


.oh-track-header-wp{display:flex;justify-content:space-between;align-items:center;}
.oh-track-header-wp .oh-track-title{display:flex;align-items:self-start;}
.oh-track-header-wp .oh-track-title a{width:12px;margin-right:10px;}
.oh-track-header-wp .oh-track-title a img{width:auto;max-width:100%;}
.oh-track-header-wp h6.date{font-weight:500;margin-bottom:0px;font-size:14px;margin-left:15px;}
.oh-track-wp p{font-style:normal;font-weight:500;font-size:14px;line-height:18px;color:#18160E;margin-top:7px;}
.oh-track-step-wp{display:flex;align-items:center;padding:20px 0px;justify-content:space-around;}
.oh-track-step-wp .oh-track-step{text-align:center;position:relative;}
.oh-track-step-wp .oh-track-step h5{font-weight:600;font-size:12px;line-height:18px;margin-top:10px;}
.oh-track-step-wp .oh-track-step:after{content:'';position:absolute;top:20px;width:129px;height:1px;background:#E7E7E7;left:100%;z-index:0;}
.oh-track-step-wp .oh-track-step:last-child:after{display:none;}
.oh-track-step-wp .oh-track-step .icon{background:#fff;z-index:3;position:relative;width:100%;text-align:center;margin:auto;padding:0px 25px;}
.oh-track-step-wp .oh-track-step:first-child:after{background:#219653;}

.map-img{margin:0px -15px;}
.map-img img{width:100%;max-width:100%;object-fit:cover;}
.location img{margin-right:7px;}
.location{align-items:center;}
.location p{margin:0px;}
.get_direction_row{display:flex;background:#F2F2F2;border-radius:12px;padding:20px;margin:25px 0;align-items:center;justify-content:space-between;}
.get-direction-btn_wp .get_direction_btn{background:#18160E;border-radius:25px;color:#fff;padding:10px 25px;display:flex;align-items:center;font-weight:600;font-size:12px;line-height:24px; min-width: 160px; justify-content: center;}
.get-direction-btn_wp .get_direction_btn img{margin-right:8px;}
.get-direction-btn_wp .get_direction_btn:hover{background:#219653;}
.get_direction_row-left{display:flex;align-items:center;}
.get_direction_row-left .get-direction-text{padding-left:15px;}
.get_direction_row-left .get-direction-text h6{font-style:normal;font-weight:600;font-size:14px;line-height:18px;}
.congratulations_text{display:flex;justify-content:space-between;}
.congratulations_text .left-content h3{font-weight:500;font-size:14px;line-height:18px;margin-bottom:0px;}
.congratulations_text .left-content p{font-weight:400;font-size:12px;line-height:18px;margin-bottom:0px;}
.congratulations_text .right-content{text-align:right;}
.congratulations_text .right-content h4{color:#EEB100;font-weight:500;font-size:12px;line-height:18px;}
.congratulations_text .right-content p{font-weight:500;font-size:12px;line-height:18px;margin:0px;}
.get_direction_main{padding:15px 15px 35px;}

.add-card-main{width:100%;}
.card-box-main{background:#FFFFFF;border:1px solid #D5D5D5;border-radius:4px;margin: 5px 0px;}
.card-box-main .card-info{padding:12px 16px;min-height:90px;}
.card-box-main .card-bottom{display:flex;justify-content:space-between;padding:7px 15px;background:#18160E;border-radius:0px 0px 4px 4px;}
.card-box-main .card-bottom p{margin-bottom:0px;font-weight:500;font-size:12px;line-height:18px;color:#fff;}
.card-box-main .card-bottom .edit{font-weight:500;font-size:12px;line-height:18px;color:#FFDC75;}
.card-box-main .card-info h5{font-weight:500;font-size:14px;line-height:18px;}
.card-box-main .card-info p{color:#2E2A21;font-style:normal;font-weight:400;font-size:12px;line-height:18px;}
.new-address-box-main{min-height:125px;border:1px solid #D5D5D5;border-radius:4px;display:flex;justify-content:center;padding:15px;justify-content:center;align-items:center;margin: 5px 0px;}
.new-address-box-main span{font-weight:500;font-size:14px;line-height:18px;color:#EEB100;margin-top:10px;display:inline-block;width:100%;}

.new-address-box-link{width:100%;display:inline-block;}
.save_address_50 {max-width: 295px; }
.card-box-main .card-bottom .remove{font-weight:500;font-size:12px;line-height:18px;color:#EB5757;}
.card-info-inner{display:flex;justify-content:space-between;}
.card-info-inner .text-card{padding-right:10px;}
.card-info-inner .card-icon {max-width: 45px; }
.btn.disabled,.btn:disabled,fieldset:disabled .btn{pointer-events:none;opacity:0.4;}

.advance_options-main ul li .advance_options-link{display:flex;padding:12px 0px;border-bottom:1px solid #D5D5D5;font-weight:500;font-size:13px;line-height:18px;}
.advance_options-main ul li .advance_options-link span.text{width:calc(100% - 30px);}
.advance_options-main ul li .advance_options-link 
.advance_options-icon{width:30px;text-align:right;}
.advance_options-main ul li .advance_options-link .advance_options-icon img{max-width:100%;}
.advance_options-main ul li{margin-bottom:16px;}
.left-right-content{display:flex;justify-content:space-between;}
.number-count{background:#FFDC75;font-size:14px;min-width:25px;height:25px;text-align:center;display:flex;justify-content:center;align-items:center;border-radius:20px;padding:0px 5px;}
.profile-header-wp.left-right-content{width:100%;}
.profile-header-wp.left-right-content .form-group-box{margin:0px;}
.profile-form textarea.form-control {height: 100px; }
.profile-form .form-group label b {font-weight: 600; }

.radio-btn-main .form-group-box label:before{border-radius:100%;border:2px solid #AEAEB3;padding:7px;margin-right:8px;}
.radio-btn-main .form-group-box label{font-weight:500;font-family:'Montserrat',sans-serif;}
.radio-btn-main .form-group-box input:checked + label:after {content: ''; display: block; position: absolute; top: 3px; left: 2px; width: 14px; height: 14px; border: solid #fff; border-width: 3px; transform: none; border-radius: 100%; }

.radio-btn-icon-main{display:flex;flex-wrap:wrap;margin:12px 0px 24px;}
.radio-btn-icon-main .form-group-box{margin:10px 20px 10px 0px;}
.radio-btn-icon-main .form-group-box label:before{position:absolute;top:-10px;right:-10px;margin-right:0px;border-radius:100%;background:#FFFFFF;box-shadow:0px 4px 10px rgba(0,0,0,0.1);visibility:hidden;opacity:0;}
.radio-btn-icon-main .form-group-box label{border:0.545977px solid #CCCCCC;border-radius:4.36782px;width:65px;height:43px;display:flex;align-items:center;justify-content:center;}
.radio-btn-icon-main .form-group-box label img{max-width:100%;}
.radio-btn-icon-main .form-group-box input:checked + label:before{background:#fff;border-color:#fff;visibility:visible;opacity:1;}
.radio-btn-icon-main .form-group-box input:checked + label:after{content:'';display:block;position:absolute;top:-6px;left:unset;right:-2px;width:6px;height:12px;border:solid #f5c332;border-width:0 2px 2px 0;transform:rotate(45deg);}
.radio-btn-icon-main .form-group-box input:checked + label{border:2px solid #F5C332;border-radius:4.36782px;}

.v-counter input[type=text]{display:inline-block;width:34px;background-color:transparent;outline:none;border:none;text-align:center;cursor:pointer;padding:0px;color:#383733;height:30px;font-weight:500;font-size:12px;line-height:22px;}
.v-counter{display:flex;align-items:center;}
.v-counter .minusBtn{width:30px!important;height:30px!important;background:#F0E8E8!important;border-radius:4px;font-size:24px;line-height:15px;padding-bottom:5px!important;font-weight:600;outline:none;border:none;text-align:center;cursor:pointer;}
.v-counter .plusBtn{width:30px!important;height:30px!important;background:#FFF2CB!important;border-radius:4px;font-size:21px;line-height:15px;padding-bottom:0px!important;font-weight:600;outline:none;border:none;text-align:center;cursor:pointer;}

.your-order-list{padding:0px 15px;}
.your-order-list .your-order-row{display:flex;justify-content:space-between;margin:16px 0px; align-items: center;}
.your-order-row .yo-list-left h5{font-weight:600;font-size:12px;line-height:18px;display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis;margin-bottom:2px;}
.your-order-row .yo-list-left span{color:#EEB100;font-weight:500;font-size:12px;line-height:16px;}
.your-order-list .your-order-row .yo-list-left{width:calc(100% - 95px);padding-right:5px;}
.your-order-list .your-order-row .yo-list-right{width:95px;}

.total-main .total-row{display:flex;justify-content:space-between;margin:8px 0px;}
.total-col h6{font-weight:600;font-size:14px;line-height:22px;margin-bottom:0px;}
.total-col p{font-weight:400;font-size:14px;line-height:22px;margin-bottom:0px;color:#504E4B;}
.total-main .total-row .price{font-weight:600;font-size:14px;line-height:22px;}
.total-row.total{border-top:0.6px solid #AEAEAE;border-radius:0px;padding:8px 0px;}
.total-row.discount .total-col p,.total-row.discount .total-col .price{color:#219653;font-weight:400!important;}
.apply_coupon_main{position:relative;z-index:1;margin:10px 0px;}
.apply_coupon_main .apply-input{background:#F7F4ED;border:1px solid #F1EEE9;border-radius:4px;width:100%;height:40px;padding:7px;font-size:12px;padding-right:55px;}
.apply_coupon_main .btn-apply{border:none;background:transparent;outline:none;font-weight:600;font-size:12px;line-height:18px;font-weight:600;color:#219653;position:absolute;right:0px;top:0px;height:40px;padding:10px;}

.recommended-main{margin:0px -15px;background:#FFF7E1;}
.recommended-main .accordion-item{border:none;background:#FFF7E1;}
.recommended-main .accordion-item .accordion-header .accordion-button{background-color:transparent;box-shadow:none;color:#18160E;padding:10px 15px;font-weight:400;font-size:12px;line-height:18px;}
.recommended-main .accordion-item .accordion-header .accordion-button:after{width:13px;height:13px;background-size:13px;}
.recommended-main .accordion-item .accordion-body{padding:0px 15px 5px;}
.yo-list-right .add-cart{font-weight:600;font-size:12px;line-height:18px;color:#383733;text-align:center;width:100%;background:#FFFFFF;border-radius:4px;padding:9px 5px;}
.yo-list-right .add-cart:hover{background:#000;color:#fff;}

.menutop-header{background:#FFFFFF;border-radius:4px;margin-bottom:16px;}
.menutop-header ul{display:flex;padding:10px;justify-content:center;flex-wrap:wrap;}
.menutop-header ul li{margin:5px 10px;display:flex;align-items:center;}
.menutop-header ul li img.icon{max-width:100%;margin-right:5px;}
.menutop-header ul li span{font-weight:500;font-size:12px;line-height:18px;}
.save{font-weight:500;font-size:12px;line-height:18px;}
.save .icon{margin-right:5px;}
.instruction_order{margin-top:20px;}
.instruction_order p{font-weight:400;font-size:11px;line-height:22px;margin-bottom:10px;padding-bottom:10px;border-bottom:1px solid #AEAEAE;}
.instruction_order h6{font-weight:600;font-size:13px;line-height:20px;}
.instruction_order .profile-form.form-btn{margin-top:25px;}

.cafe-menu-center .white-bg{padding:15px;margin-bottom:16px;}
.food-search{margin-bottom:18px;}
.food-search input.search-food{background:transparent;border:none;border-bottom:1px solid #D5D5D5;width:100%;padding:9px 10px 9px 30px;font-size:14px;background:url('./../images/checkout/icon.png');background-repeat:no-repeat;background-position:left 5px center;background-size:20px;}

.yo-list-left-row .food-details{width:calc(100% - 60px);padding-left:15px;}
.your-order-row .yo-list-left .food-details h5{font-weight:500;font-size:14px;line-height:22px;}
.your-order-row .yo-list-left .food-details h5 span{font-weight:600;font-size:12px;line-height:18px;padding:3px 5px;background:#FFF0C6;border-radius:4px;color:#000;display:inline-block;}
.your-order-row .yo-list-left .food-details p{font-weight:400;font-size:12px;line-height:18px;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis;margin-bottom:0px;}
.yo-list-left-row{display:flex;align-items:center;}
.yo-list-left-row .food-img{width:60px;height:60px;}
.yo-list-left-row .food-img img{width:100%;height:100%;object-fit:cover;border-radius:100%;}

.cafe-menu-accordion .accordion-item { background-color: #fff; border: none; }
.cafe-menu-accordion .accordion-item .accordion-header .accordion-button { background-color: transparent; box-shadow: none; font-weight: 600; font-size: 14px; line-height: 18px; margin-bottom: 0px; padding: 10px 5px; color: #000; }
.cafe-menu-accordion .accordion-item .accordion-header .accordion-button::after { width: 18px; height: 18px; background-size: 18px; }
.cafe-menu-accordion .accordion-item  .accordion-body { padding: 0px; }
.cafe-menu-accordion .accordion-item .accordion-body .your-order-list { padding: 0px; }

.cafe-menu-accordion .yo-list-right .add-cart{background:#FFF0C6;}
.cafe-menu-accordion .yo-list-right .add-cart:hover{background:#000;}
.cafe-menu-accordion .your-order-list .your-order-row{margin:25px 0px;}
.food-search.white-bg {margin-bottom: 0px; }


.accordion-button:not(.collapsed)::after{background-image:url('./../images/arrow-up.png');transform:rotate(0deg);}
.accordion-button::after{background-image:url('./../images/arrow-up.png');transform:rotate(-180deg);}
.profile-side-link.categories-main{padding:0px;}
.profile-side-link.categories-main ul li a{padding:5px 0;background:transparent!important; display: flex; justify-content:space-between;}
.profile-side-link.categories-main ul li.active a{color:#EEB100;}
.profile-side-link.categories-main ul li {margin: 10px 0; }
.profile-side-link.categories-main ul li a span {margin-left: 10px; }



.menu-sub-section .new-event-sec{position:relative;}
.menu-sub-section .new-event-sec:after{content:'';position:absolute;left:0;right:0;bottom:0;top:0;z-index:-2;background:#efebe6;}
.menu-sub-section .offer-sec{background:#efebe6;}
.menu-header-bg {padding-top: 120px !important; position: relative; z-index: 1; }
.menu-header-bg:after{content:'';position:absolute;left:0;top:0;bottom:0;width:100%;height:calc(100% - 350px);z-index:-1;background-image:url('./../images/menu-bg.png');background-position:center;background-repeat:no-repeat;background-size:cover;}





.food-menu-sec .title-sub-content {display: flex; align-items: center; flex-wrap: wrap; justify-content: space-between; }
.food-menu-sec .title-sub-content p {max-width: 320px; }
.food-menu-sec .menu-box-wrapper .menu-box {padding: 30px; border-radius: 20px; display: flex; align-items: center; flex-wrap: nowrap; }
.food-menu-sec .menu-box-wrapper .menu-img {max-width: 70px; }
.food-menu-sec .menu-box-wrapper .menu-content {width: calc(100% - 70px); padding-left: 40px; }

 .food-cat-box {position: relative; border-radius: 20px; background: #fff; cursor: pointer; transition: all 500ms ease; height: 100%; overflow: hidden;}
 .food-cat-box .food-cat-content {border: 1px solid #F1EEE9; background-color: #fff; border-radius: 0px 0px 20px 20px; padding: 15px; }  .food-cat-box .food-cat-img img {width: 100%; height: 100%; object-fit: cover; border-radius: 20px 20px 0 0; }
 .food-cat-box .food-cat-img {width: 100%; height: 270px; }
 .food-cat-box .food-cat-content p {color: #000; visibility: visible;  }
 .food-cat-box .food-cat-content p.yellow-text {color: #EEB100; font-size: 12px; line-height: 18px; margin-bottom: 0; font-weight: 500; }

 .food-cat-box .food-cat-des {padding: 15px; background-color: #ffffff; border-radius: 0px 0px 20px 20px; 
 	cursor: default; position: absolute; bottom: 0; height: 0; box-shadow: 0px 10px 20px 0px #0000000D; Opacity:0.8; visibility: hidden; } .food-cat-box .food-cat-des p {font-size: 14px; line-height: 24px; }
 .food-cat-box .food-cat-des .sub-text {display: flex; justify-content: space-between; align-items: center; }
 .food-cat-box .food-cat-des .sub-text .menu-link {display: flex; justify-content: center; align-items: center;}
 .food-cat-box .food-cat-des .sub-text .menu-link p {padding-right: 8px; color: #18160E; margin-bottom: 0; line-height: normal; }
 .food-cat-box .food-cat-des .sub-text .menu-link a {background: #F5C332; border-radius: 100%; width: 22px; height: 22px; position: relative; }
 .food-cat-box .food-cat-des .sub-text p {color: #F5C332; margin-bottom: 0; font-weight: 500; }
 .food-cat-box .food-cat-des .sub-text .menu-link a img {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }

.food-cat-box:hover .food-cat-des {visibility: visible;  height: auto; }
.food-cat-box:hover .food-cat-content p {visibility: hidden;}

@media (max-width:1399px){
	.food-cat-box .food-cat-img {height: 220px; }
	.food-cat-box .food-cat-des p {font-size: 12px; line-height: 16px; }
}




@media (max-width:1199.98px){

.food-menu-sec .menu-box-wrapper .menu-box {padding: 20px;}
.food-menu-sec .menu-box-wrapper .menu-img {max-width: 50px; }
.food-menu-sec .menu-box-wrapper .menu-content {width: calc(100% - 50px); padding-left: 20px; }

}

@media (max-width: 767.98px) {

	.food-menu-sec .menu-box-wrapper .menu-box {border-radius: 12px;}
}

@media (max-width: 575.99px) { 

	.food-menu-sec .title-sub-content p {max-width: 100%; }

}





